Flask
numpy
Pillow==9.0.0
PyMuPDF
layoutparser
torch
torchvision
pytesseract
"detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.5#egg=detectron2"
"layoutparser[ocr]"
-U 'git+https://github.com/nikhilweee/iopath'
